@model InvestigatorReq.Models.Requisition
@{
    ViewBag.Title = "GetQuestions";
}

<h3>Visit Information Requisition Form</h3>
<div id="accInfo" class="panel panel-primary">
    <div class="panel-heading">
        <strong>Accession number: @Model.AccessionID</strong>
    </div>
    <div class="panel-body">
        <p>@Model.Investigator</p>
        <p>@Model.ProjectID</p>
        <p>@Model.Sponsor</p>
        <p>@Model.VisitDescription</p>
    </div>
</div>
<form id="req">
    <div id="accInfo" class="panel panel-primary">
        <div class="panel-heading">
            <strong>Requisition Questions</strong>
        </div>
        <div class="panel-body">
            <div>
                @foreach (var question in Model.ReqQuestions)
                {
                    HtmlString questionHTML = new HtmlString(@question);
                    <p>@questionHTML</p>
                }
            </div>

            <div>
                <input type="button" id="submitButton" title="Submit Req" value="Submit" />
            </div>
        </div>
    </div>
</form>
<div id="successModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-header-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Requisition Information Submitted</h4>
            </div>
            <div class="modal-body">
                <p>Thank you for submitting the patient information for Accession number @Model.AccessionID, Visit: @Model.VisitDescription.</p>
                <p>We have sucessfully stored the data within our database, and will contact your if we need any additional information.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#req').on('click', '#submitButton', function () {
                //form submission code - create a JSON object to pass into the controller
                var requisitionObjects = {
                    AccessionID: '@Model.AccessionID',
                    ProjectID: '@Model.ProjectID',
                    Sponsor: '@Model.Sponsor',
                    Investigator: '@Model.Investigator',
                    VisitDescription: '@Model.VisitDescription',
                    formObjects: []
                };
                //loop through the input objects, add them to the formObjects array insie the requisitionsObjects JSON object
                $('#req *').filter(':input').each(function () {
                    if($(this).attr('id')!="submitButton"){
                        var elementObject = new Object();
                        
                        elementObject.id = $(this).attr('id');
                        elementObject.value = $(this).val();
                        requisitionObjects.formObjects.push(elementObject);
                    }
                });
                //for debugging, to view the object in browser console
                console.log(requisitionObjects);
                $('#successModal').modal('show');
                // TODO: Ajax stubbed out to pass objects to controller to be parsed into workable DAL objects.  More work to be done here.
                //$.ajax({
                //    type: 'POST',
                //    url: '/Home/FormSubmission/',
                //    dataType: 'json',
                //    data: {
                //        requisitionObjects
                //    },
                //    success: function (data) {
                //        alert('im back');
                //        console.log(data);
                //    },
                //    error: function (xhr, ajaxOptions, error) {
                //        alert(xhr.status);
                //        alert('Error: ' + xhr.responseText);
                //    }
                //});
            });
        });

    </script>
}
